.box-1 {
    background-image: linear-gradient(155deg, rgba(93, 42, 155, 1) 0%, rgba(83, 137, 237, 1) 100%);
    color: #fff;
    
}
.box-2 h2{
    border-left: 8px solid #5389ED;
    text-indent: 0.5em;
}
