{% extends "base.html" %}

{% block title %}機器學習-首頁{% endblock %}

{% block content %}
<main>
    <h1>歡迎來到機器學習世界</h1>
    <p>
        機器學習（Machine Learning）是一種人工智慧的分支，旨在讓計算機系統能夠從數據中自動學習和改進，而無需明確編程。通過分析大量數據，機器學習演算法可以識別模式、做出預測並進行決策。機器學習主要分為三種類型：監督式學習、非監督式學習和強化學習。監督式學習使用標記數據來訓練模型，使其能夠預測未知數據的結果；非監督式學習則處理未標記數據，尋找數據中的結構和關聯；強化學習通過與環境互動來學習最佳行動策略。機器學習在各個領域都有廣泛應用，包括圖像識別、語音識別、自然語言處理、推薦系統和自動駕駛等。隨著計算能力的提升和大數據的普及，機器學習正成為推動科技進步的重要力量。
    </p>
</main>
<h1>機器學習演算法介紹</h1>
<main>
    <h2>線性迴歸</h2>
    <p>
        機器學習（Machine Learning）是一種人工智慧的分支，旨在讓計算機系統能夠從數據中自動學習和改進，而無需明確編程。通過分析大量數據，機器學習演算法可以識別模式、做出預測並進行決策。機器學習主要分為三種類型：監督式學習、非監督式學習和強化學習。監督式學習使用標記數據來訓練模型，使其能夠預測未知數據的結果；非監督式學習則處理未標記數據，尋找數據中的結構和關聯；強化學習通過與環境互動來學習最佳行動策略。機器學習在各個領域都有廣泛應用，包括圖像識別、語音識別、自然語言處理、推薦系統和自動駕駛等。隨著計算能力的提升和大數據的普及，機器學習正成為推動科技進步的重要力量。
    </p>
</main>
{% endblock %}