{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>{% block title %}顯示/隱藏答案考題{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/homework2.css') }}">
{% endblock %}

{% block content %}
<main class="contianer">
    <div class="qa-container">
        <h2>問題：在 Flask 框架中，通常將 CSS 和 JavaScript 等靜態檔案放在哪個資料夾？</h2>
    
        <button class="toggle-button">顯示答案</button>
    
        <div class="answer-content">
            <p>答案是 <strong>static</strong> 資料夾。</p>
        </div>
    </div>
</main>
{% endblock %}

{% block code %}
<script src="{{ url_for('static', filename='js/homework2.js') }}"></script>
{% endblock%}